.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-box{
    height: 200px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
}

.wrong {
    background-color: red;
}
