<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Results</title>
</head>
<body>
  <div class="container rounded rounded-lg col-6 py-3 my-3">
    <h3>Results:
      <p>Name: @Model.Name</p>
      <p>Dojo Location: @Model.Location</p>
      <p>Favorite Language: @Model.Language</p>
      <p>Any Comments?</p>
      <br>
      <p>@Model.Comment</p>
      <a href="/" class="btn btn-succes btn-success-outline">Go Back</a>
    </h3>
  </div>
</body>
</html>