<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/shows/create/" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input required type="text" name="title">
        <div class="side-by-side">
            <label for="network">Network</label>
            <input 
                required 
                type="text" 
                name="network"
                minlength="5"
                maxlength="14"
                size="10"
            >
            <label for="date">Release Date</label>
            <input 
                type="date" 
                name="date" 
                value="1999-01-01"
            >
        </div>
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Create Show</button> 
    </form>
    
</body>
</html>