<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>All The Shows</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Stranger Things</td>
                    <td>Netlfix</td>
                    <td>July 15th 2016</td>
                    <td>
                        <a href="/shows/{{show.id}}">Show</a>
                        <a href="/shows/{{show.id}}/edit">Edit</a>
                        <a href="/shows/{{show.id}}/destroy">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3><a href="/shows/new">Add a TV Show</a></h3>
    </div>
</body>
</html>