@{
  ViewData["Title"] = "Results Page";
}
<div class="text-center">
  <h3 class="text-success">You have successfully registered!</h3>
  <br>
  <button class="btn"><a href="/">Back</a></button>
</div>