<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="~/css/contact.css">
  <title>Contacts</title>
</head>

<body class="container__contacts">
  <nav class="navbar is-fixed-top is-spaced is-black" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-menu ">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a href="/projects" class="navbar-item">Projects</a>
          <a href="/contact" class="navbar-item">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">Contact Me!</p>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <section class="is-centered">
      <form action="#" method="POST">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input type="text" name="name" id="name" placeholder="Name Here">
              </div>
            </div>
            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control">
                <input type="text" name="email" id="email" placeholder="Email Here">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label" for="message">Message</label>
              <div class="control">
                <textarea id="message" name="message" rows="10" cols="80"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary">Send</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</body>

</html>