<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="~/css/style.css" />
  <title>Main</title>
</head>
<body class="container__home">
  <div class="nav">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <h3>About Me</h3>
  <div class="left">
    <img class="pic" src="" alt="Profile Pic">
    <h4>Ian Rones</h4>
    <p>Hello All!</p>
    </div>
  <div class="right">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eos, explicabo totam autem ipsum earum aliquam facilis illum minima odit ullam quo voluptatum natus temporibus veniam nemo iusto necessitatibus error?</p>
  </div>
</body>
</html>