<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="~/css/style.css" />
  <title>Main</title>
</head>

<body class="container__home">
  <nav class="navbar is-fixed-top is-spaced is-black" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-menu ">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a href="/projects" class="navbar-item">Projects</a>
          <a href="/contact" class="navbar-item">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="hero">
            <div class="hero-body is-text-centered">
              <p class="title">About Me</p>
              <p class="subtitle">Ian Rones</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="section">
      <div class="columns is-flex is-vcentered is-centered">
        <div class="column is-5 is-vcentered">
          <img class="image is-128x128 is-centered" src="~/images/profile.jpeg" alt="Profile Pic">
        </div>
        <div class="column is-7">
          <p>My name is Ian Rones. I am a Computer Science major finishing my senior year in college for my BS. I am a front-end engineer however I want to be fully versed in the back-end as well, letting me become a full-stack engineer</p>
        </div>
      </div>
    </section>
  </div>
</body>
</html>