@{
  ViewData["Title"] = "Person";
}

@model User
<div class="text-center">
  <h2>Here is a Person!</h2>
  <div class="border rounded m-1 p1">
    <p>@Model.FirstName @Model.LastName</p>
  </div>
</div>