body {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 26%;
    align-self: center;
    align-items: flex-start;
}

input [type='submit'] {
    align-self: flex-end;
}