@{ ViewData["Title"] = "Home Page"; }
@model User
<div class="d-flex justify-content-between align-items-center">
  <h1 class="display-4">Registration Page</h1>
  <div class="d-inline-flex align-self-end p-2">
    <p class="text-uppercase h5">
      <a href="/login" class="btn btn-success">Login</a>
    </p>
  </div>
</div>
<form action="/register" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="FirstName"></label>
      <input type="text" asp-for="FirstName" class="form-control" />
      <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="LastName"></label>
      <input type="text" asp-for="LastName" class="form-contol" />
      <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
  </div>
  <div class="form-group mb-3">
    <label asp-for="Email"></label>
    <input type="text" asp-for="Email" class="form-contol" />
    <span class="text-danger" asp-validation-for="Email"></span>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Password"></label>
      <input type="text" asp-for="Password" class="form-contol" />
      <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="ConfirmPassword"></label>
      <input type="text" asp-for="ConfirmPassword" class="form-contol" />
      <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
  </div>
  <input type="text" class="btn btn-primary" type="submit" value="Register" />
</form>
